name: Terraform Docs

on:
  push:
    branches-ignore:
      - main

jobs:
  tf-docs:
    name: Documentations
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}

      - name: Regenerate README.md
        uses: terraform-docs/gh-actions@main
        with:
          working-dir: .
          output-file: README.md
          config-file: .terraform-docs.yml
          git-push: true